<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="ISO-8859-1">
    <title>Grade Book App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet"
          th:href="@{/cssandjs/main.css}"/>


</head>


<body>

<nav class="navbar navbar-expand-md navbar-dark main-color fixed-top">
    <a class="navbar-brand" href="/">GradeBook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">

    	<form class="form-inline" method="POST" th:action="@{/}" th:object="${student}">
    		<label class="sr-only" for="firstname">First Name</label>
    		<input type="text" class="form-control mb-2 mr-sm-2" name="firstname" placeholder="Enter First Name" required>

    		<label class="sr-only" for="lastname">Last Name</label>
    		<input type="text" class="form-control mb-2 mr-sm-2" name="lastname" placeholder="Enter Last Name" required>

    		<label class="sr-only" for="emailAddress">Email Address</label>
    		<input type="text" class="form-control mb-2 mr-sm-2" name="emailAddress" placeholder="Enter Email Address" required>


    		<button type="submit" class="btn btn-color mb-2">Submit</button>
    	</form>

    <table class="students">
        <tr>
            <th>Grade Book</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>

        	<tr th:each="student, iterator : ${students}" >
        		<td th:text="${iterator.index + 1}" th:onclick="|studentInfo('${student.id}');|"></td>
        		<td th:text="${student.firstname}" th:onclick="|studentInfo('${student.id}');|"></td>
        		<td th:text="${student.lastname}" th:onclick="|studentInfo('${student.id}');|"></td>
        		<td > <span  th:text="${student.emailAddress}" th:onclick="|studentInfo('${student.id}');|"></span>
        		<span>
        			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill float-right pointer" style="color: #d3d3d3" viewBox="0 0 16 16" th:onclick="|deleteStudent('${student.id}');|">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
        </svg>
        		</span>
        		</td>
        	</tr>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/cssandjs/js/main.js}"></script>
</body>
</html>